.col-img {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;

}

.img {
    display: flex;
    height: 560px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.detalle {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
}

.detalle h2 {
    margin-top: 40px;
}

.counter{
    display: flex;
    margin-top: 20px;
}